*{ 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(36, 127, 180);
    color: black;
}
.header {  
    border: 5px solid orangered;
    display: block;
    width:100%;
    }
    .header nav{
        border: 2px solid palevioletred;
        display: block;
    }
.header .nav .sidemenu {

display:flex;
flex-wrap: wrap;
list-style: none;
font-size: 20px;
color: rgb(19, 233, 133);
}
.header .nav .sidemenu li{
    padding: 10px;
    border: 2px solid greenyellow;
    display: inline;
}
nav ul li a{
    color: #fff;
    text-decoration: none;  
}
nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: #09a8c4;
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}

nav ul li a:hover::after{
width: 100%;
}

a{
    text-decoration: none;
    color: rgb(41, 143, 143);
}
.schoolname{
    height: auto;
    margin-top: 10px;
    font-size: 40px;
    color: rgb(22, 167, 224);
    background-color: rgb(0, 0, 0);
    word-spacing: 30px;
}

.about-us {
    border: 8px solid rgb(250, 249, 249);
    border-radius: 10px;
    margin: 20px;
    background-color: black;
    display: flex;
    height: auto;
    
}

.imgdiv {
    flex-basis: 60%;
    border: 2px solid red;
}
.imgdiv img{
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

.pa {
    flex-basis: 40%;
    border: 2px solid green;
   
}
.pa p{
    height: 100%;
    font-size: 25px;
    color: rgb(243, 247, 243);
    font-family:cursive;
    border: 2px solid rgb(83, 80, 80);
    padding: 0px 10px;
}
#an{
    overflow: hidden;
}
.beyond{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    font-size: 10px;
    background:linear-gradient(rgb(166, 43, 182),rgb(47, 6, 143));
    padding: 10px 10px;
    row-gap: 10px;
    }
img{
    height: 350px;
    width: 400px;
    border: 5px solid rgb(12, 12, 12);
    border-radius: 10px;
}
.box{
    height: 200px;
    background:linear-gradient(purple,red);
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    margin: 10px;
}

/* css for small screens*/

@media only screen and (max-width:600px)
{

}
